*{margin: 0;padding: 0;box-sizing: border-box;}

/*grid */
body{
    display:grid;
    grid-template-areas:
    "navbar"
    "search_image"
    "main_content"
    "tilmed_section"
    "footer"
    ;

    grid-template-columns: 1fr;
    grid-template-rows: 60px 270px 1fr 120px 100px;
    min-height: 100vh;
   /* gap:.3em; */
    margin:5px
}


.navbar{ grid-area: navbar; background-color: #A3C29C;
position: relative;padding: 0 2rem; margin-bottom: 100PX;
 display: flex; align-items: center;justify-content: space-between; width:100%;margin:0 auto;}
#search_image{grid-area: search_image; background-image:url(../billeder/search_billede.jpg);}
main{grid-area:main_content;}
#tilmed{grid-area: tilmed_section; background-color:#A3C29C;}
footer{grid-area: footer;}

/*----------------------------------------*/



.logo img{width:55px; height: auto;}

.navbar{background-color: #A3C29C;}

/*------- navigation */

li{ list-style:none ;}

a{text-decoration: none;color: rgb(16, 13, 13);  font-size:2 rem;
font-weight: 550;}

  a:hover{ color: rgb(219, 115, 18);}



.navbar .links { display: flex; gap: 2.5rem;}

.navbar .toggle_btn{ color: white; /*burger menu color icon*/
    font-size: 1.5rem; cursor:pointer;
display: none;}

.action_btn, .action_btn2{
    background-color: rgb(255, 166, 2);
    color:white ;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight:bolder;
    cursor: pointer;
}



.action_btn:hover{ scale: 1.05;
    color: white ;
}

.action_btn:active{scale:.95;
    
    }
    
/* dropdown menu */
.dropdown_menu {
   display: none; 
    position:absolute;
    right:2rem;
    top:60px;
    height: 0; /* Esto hace desaparecer la caja*/
    width: 255px;
    background:rgba(255, 255, 255, 0.1) ;
    backdrop-filter:blur(15px) ;
    border-radius: 10px;
    overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);  
 

}

  .dropdown_menu.open{height: 240px;} 


.dropdown_menu li {
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.dropdown_menu .action_btn {width: 100%;
display: flex; justify-content: center;}    

/*----------------------------------------------------------------------------------------------*/
/*searchimage section*/

#search_image{ display: flex;align-items: center; justify-content: space-around;}
#hero{  background-color: rgb(163, 194, 156,.7);height:190px; border-radius: 10px; width: 70vw; display:flex; flex-direction: column; align-items:center;
justify-content:center; padding-top: 7px;}
input[type=text] { width: 70% ; padding:.9em;/* padding bliver brugt til at give størrelsen til input */
      border:1px solid #ccc; border-radius:10px; margin-top: .5em;margin-bottom: 1em; }


/* content section */

.text_forsiden{width:100%; display: flex; flex-direction: column; justify-content: center;align-items: center;
border-bottom: solid rgb(163, 194, 156,.7) 1.5px; padding: 10px 0 0 10px;}

/* 4 billeder i content */
.billeder_forsiden{ display:grid;
grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
gap:2vw;
justify-items: center;
}

.billeder{width:220px; height:200px; padding-left: 10px; border-radius: 50%;}

      /* Responsiv design */



@media(max-width:992px){
    .navbar .links, 
    .navbar .action_btn{display: none;}
    .navbar .toggle_btn {
        display: block;
    }

  .dropdown_menu{display: block;}
}

@media(max-width:576px){ 


.dropdown_menu {left:2rem;
width:unset;}


}

