*{margin: 0;padding: 0;box-sizing: border-box;}


body{
  
    min-height: 100vh;
    width:100%;
 
}




/*------------------------------------*/
#search_image{ background-image:url(../billeder/search_billede.jpg); height: 450px;}
#tilmed{ background-color:#A3C29C;}

/*----------------------------------------*/



.logo img{width:55px; height: auto;}

.navbar{background-color: #A3C29C;
/*  position: relative; margin-bottom: 100PX; */
 display: flex; align-items: center;justify-content: space-between; width:100%; /* margin:0 auto; */}

 

/*------- navigation */

li{ list-style:none ;}

a{text-decoration: none;color: rgb(16, 13, 13);  font-size:2 rem;
font-weight: 550;}

  a:hover{ color: rgb(219, 115, 18);}



.navbar .links { display: flex; gap: 2.5rem;}

.navbar .toggle_btn{ color: white; /*burger menu color icon*/
    font-size: 1.5rem; cursor:pointer;
display: none;}

.action_btn, .action_btn2{
    background-color: rgb(255, 166, 2);
    color:white ;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight:bolder;
    cursor: pointer;
}



.action_btn:hover{ scale: 1.05;
    color: white ;
}

.action_btn:active{scale:.95;
    
    }
    
/* dropdown menu */
.dropdown_menu {
   display: none; 
    position:absolute;
    right:2rem;
    top:60px;
    height: 0; /* Esto hace desaparecer la caja*/
    width: 255px;
    background:rgba(255, 255, 255, 0.1) ;
    backdrop-filter:blur(15px) ;
    border-radius: 10px;
    overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
 

}

  .dropdown_menu.open{height: 240px;} 


.dropdown_menu li {
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.dropdown_menu .action_btn {width: 100%;
display: flex; justify-content: center;}    

/*----------------------------------------------------------------------------------------------*/
/*searchimage section*/

#search_image{ display: flex;align-items: center; justify-content: space-around;}
#hero{  background-color: rgb(163, 194, 156,.7);height:190px; border-radius: 10px; width: 70vw; display:flex; flex-direction: column; align-items:center;
justify-content:center; padding-top: 7px;}
input[type=text] { width: 70% ; padding:.9em;/* padding bliver brugt til at give størrelsen til input */
      border:1px solid #ccc; border-radius:10px; margin-top: .5em;margin-bottom: 1em; }


/* content section */

.text_forsiden{width:100%; display: flex; flex-direction: column; justify-content: center;align-items: center;
border-bottom: solid rgb(163, 194, 156,.7) 1.5px; padding: 10px 0 0 10px;}

/* 4 billeder i content */
.billeder_forsiden{ 


display:flex;
flex-wrap: wrap;
flex-grow: 1;
justify-content: center;
align-items: center;
margin-top: 20px;
padding-top: 8px;

}

.billeder{ width:200px; height:180px; border-radius: 50%;  }
.billede_link{position:relative; margin:5px 25px;}
.text_inside_billede{position: absolute; top:40%;background-color: rgb(163, 194, 156); left:10%;padding:10px; width:160px;
text-align: center; opacity: 0.7; border-radius: 10px;}
/*----------------------------*/

/* strikkekit section */
#strikkekits_sektion{margin-top: 20px; background-color: #A3C29C;}


/*  carousel of images with the arrows to the sides. */

.text_ontop_carousel{padding:20px 0 2px 20px;font-size:20px;}
.text_card_carousel{text-align: center; font-size: 16px;}

.carousel {
    width: 100%;
    overflow-x: auto;
    margin: 3em auto;
    display: flex;
    gap: 1em;
    scroll-behavior: smooth;

    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
  
}

.galery1 {
    anchor-name: --arrows;
}
/*-----------------------------------------*/
.carousel::-webkit-scrollbar {
    display: none;
}

/*---------------------------------------------------------*/
.carousel::scroll-button(right),
.carousel::scroll-button(left) {
    content: ' → ';
    border: none;
    background-color:rgb(163, 194, 156,.7);
    font-family: "pragmatica-extended";
    font-size:2.5rem;
    color: rgba(82, 75, 75, 0.616);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding-bottom: 0.1em;
    cursor: pointer;
    /*fija la position de las flechas*/
    position: fixed;
    position-anchor: --arrows;
    position-area: right center;
    translate: -90%;
}

.galery1::scroll-button(right),
.galery1::scroll-button(left) {
    position-anchor: --arrows;

}

/*------------------------------------------------------------*/


.carousel::scroll-button(left) {
    content: '←';
    position-area: left center;
    translate: 90%;
}

/*---------------------------------------------------------*/

.carousel::scroll-button(right):disabled,
.carousel::scroll-button(left):disabled {
    opacity: 0.1;
    cursor: auto;
}

/*--------------------------------------------------------*/

.card {
    flex: 0 0 20em;
    /*flex positiona las tarjetas dando un ancho de 20, causando un overflow
  que automaticamente genera un scrollbar, por eso debimos desactivar el scrollbar arriba */
   height: 14.5em;
   /* background-color: #444c01;*/
    padding: 1em;
    /* marco  delgado que puede agrandarse_ da paso entre el background y la imagen */
  border-radius: 40px; 
    text-align: center;
    align-content: center;
    scroll-snap-align: start;
    /* va de la mano con el scroll-snap-type del contenedor;*/
    width: 20em;
  object-fit:cover;
}

/*-----------------------------------------------------------*/
.carousel::scroll-marker-group {
    display: flex;
    /* to have themm in a line */
    justify-content: center;
    gap: .5em;

    margin-bottom: 50px;
}

.card::scroll-marker {
    content: '';
    /* cards1 es la clase dada a todas las img de la galleria */
    height: 1em;
    width: 1em;
    background-color: silver;
    border-radius: 50%;
    margin-top: 10px;
}

.card::scroll-marker:target-current {
    background-color: rgb(218, 139, 65)
}

/*---------------------------------------------------------------*/
/* button se alt */

.se_alt{
    width: 250px;background-color: orange;color: black;height: 40px;border-radius: 20px;
     display:flex;align-items: center;justify-content: center;
    position: relative;
justify-self: center;}




      /* Responsiv design */



@media(max-width:992px){  /* 992px */
    .navbar .links, 
    .navbar .action_btn{display: none;}
    .navbar .toggle_btn {
        display: block;
    }

  .dropdown_menu{display: block;}
}

@media(max-width:576px){ 


.dropdown_menu {left:2rem;
width:unset;}





}

