*{margin: 0;padding: 0;box-sizing: border-box;}


body{
  
    min-height: 100vh;
    width:100%;
 
}

.logo img{width:55px; height: auto;}

#tilmed{ background-color:#A3C29C;}

.navbar{background-color: #A3C29C; 
/*  position: relative; margin-bottom: 100PX; */
 display: flex; align-items: center;justify-content: space-between; 
 width:100%; /* margin:0 auto; */}
 
.kurv{height:30px ;}
 

/*------- navigation */

li{ list-style:none ;}

a{text-decoration: none;color: rgb(16, 13, 13);  font-size:2 rem;
font-weight: 550;}

  a:hover{ color: rgb(219, 115, 18);}



.navbar .links { display: flex; gap: 2.5rem;}

.navbar .toggle_btn{ color: white; /*burger menu color icon*/
    font-size: 1.5rem; cursor:pointer;
display: none;}

.action_btn, .action_btn2{
    background-color: rgb(255, 166, 2);
    color:white ;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight:bolder;
    cursor: pointer;
}



.action_btn:hover{ scale: 1.05;
    color: white ;
}

.action_btn:active{scale:.95;
    
    }
    
/* dropdown menu */
.dropdown_menu {
   display: none; 
    position:absolute;
    right:2rem;
    top:60px;
    height: 0; /* Esto hace desaparecer la caja*/
    width: 255px;
    background:rgba(255, 255, 255, 0.1) ;
    backdrop-filter:blur(15px) ;
    border-radius: 10px;
    overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
 

}

  .dropdown_menu.open{height: 280px;} 


.dropdown_menu li {
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.dropdown_menu .action_btn {width: 100%;
display: flex; justify-content: center;}   

/*--------------------- TOP SECTION -------------------- */
.banner-section{
  background-color: #b9ceb4;
  width: 100%;
  height: auto;
  text-align: center;
}
.banner-section h1{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------- GALLERY SECTION -------------------- */

.gallery-section{
  width: 100%;
  display: flex;
  justify-content: center;
  
}
.gallery-image img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 1rem;
  display: flex;
  float: left;
  flex-direction: column;
}

/*-------------------- INFO SECTION -------------------- */
.info-section{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* -------------------- KONTAKTFORM -------------------- */

input[type=text],
input[type=email],
input[type=tel],
select,
textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0.5em 0 1em 0;
  box-sizing: border-box;
}

select {
  padding: 0.675em 6em 0.675em 1em;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.custom-select {
  position: relative;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 48%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 63%;
}

input[type=submit] {
  background-color: #DB5000;
  color: white;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 4px;
  width: 100%;
  margin-top: 1em;
  font-size: 18px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #963700;
  transition: 0.5s;
}

input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

.checkbox {
  margin: 0.8em 0;
}

fieldset {
  border-color: rgb(219, 115, 18);
}

::placeholder {
  color: #333;
}

.kontaktform {
  background-color: #A3C29C;
  padding: 1.3em;
  max-width: 650px;
  width: 100%;
  margin: 2rem auto;
}



/*tilmed sektion */
#tilmed{display: flex;flex-direction:row; flex-wrap: wrap;justify-content: space-between;align-items: center;}
.tilmed_sektion{padding-top: 10px;padding-bottom: 10px; }
.ikon_kasse{display: flex;margin-bottom:18px;}
.alle_ikon_kasse{flex-grow: 1;flex-basis: 36%; flex-wrap: wrap; }
.nyhedsbrev{display: flex;justify-content: center;align-items: center;flex-direction: column; flex-grow: 1; margin: 26px; 
border:solid .5px grey ; border-radius: 7px; text-align: center;}
.tilmed_besskrivelse{padding-right: 5%;}
.findos_tittle,.tilmed_sektion ,.tilmed_besskrivelse {padding-left:5%;}
.findos_ikon{height: 20px; width:auto;padding-right: 15px;}
.godkend_button{width:60%;margin-top: 15px;height:42px;}

/*footer*/
footer{display:flex; flex-wrap: wrap;justify-content: space-between;}
.help{flex-basis: 37%;display: flex; flex-wrap: nowrap;flex-direction: row;margin-top: 25px; flex-grow: 1; margin-bottom: 30px;}
.social_media_ikon{width:40px; padding-right:9px;}
.logo_footer{width:75px;}
.kunderservice{margin-right: 15vw; margin-left:5%;}
.social_media_ikon_kasse{display: flex;flex-direction: column;text-align: center;margin-left:10% ;margin-right: 20px;flex-grow: 1;
    margin-top: 25px;

 border:none; }

 @media(max-width:992px){  /* 992px */
    .navbar .links li:nth-child(2) ,  .navbar .links li:nth-child(1) , .navbar .links li:nth-child(3) , .navbar .links li:nth-child(4) , 
    .navbar .links li:nth-child(5) , 
    .navbar .action_btn{display: none;}
.navbar{position: relative;}
  .kurv{position: absolute; right: 45px;bottom: 21%;}
 

   
    
    .navbar .toggle_btn {
        display: block;
    }

  .dropdown_menu{display: block;}

 



}

@media(max-width:576px){ 


.dropdown_menu {left:2rem;
width:unset;}

}

@media only screen and (max-width: 850px) {
  .kontaktform {
    width: 95%;
  }
}
