.tittle_sektion{background-color: #A3C29C ; display:flex; align-items: center; 
     height :60px; position: relative;justify-content: center; z-index: -1;}
main{background-color:white; width: 100%;}
.navbar{background-color:white; }

.fa-solid {color: black;}

/*title sektion  _second section "garn &craft + 2 ikons"*/
.magnifying_glass, .kurv2{height: 20px; margin-right:.35vw;}
.ikons_tittle_sektion_kasse{position: absolute;right:10px; top:38%;}

/*validation sektion under title sektion*/
.validation{display: flex; flex-wrap: wrap; justify-content: space-around;align-items: center; flex-grow: 1;}

/*2 billeder om om os */
.to_billeder{display: flex; flex-wrap: wrap;justify-content: space-around; margin-top: 15px; flex-grow: 1;}
.strikning_billede_omos, .beskrivelse_fordele_image{width:260px;height:250px; border-radius: 7px;padding-bottom: 15px;}

/* beskrivelse af fordele */
.beskrivelse_fordele_set_plus_textkasse{display: flex; flex-wrap: wrap;  justify-content:center;}
.kasse_beskrivelse_fordele{flex-basis:35%; margin:10px; flex-grow: 1; }
.text_om_os {flex-basis: 50%; flex-grow: 1;margin:10px 30px 0 30px; padding-top: 7px;}

/* inside each green box with text and a picture */
.fordele_image{height:180px; width:200px ;object-fit: cover;} 
.beskrivelse_fordele{ background-color: #A3C29C; margin-bottom: 15px;
     height: 200px;
      display:flex; justify-content: space-between;align-items: center;}

.text_fordel{flex-grow: 1; display: flex; justify-content: center; padding-left:5px ; padding-right: 5px;}


/*openhours sektion*/
.openhours_sektion{display: flex; flex-wrap: wrap; width:100%; justify-content: space-around; margin-top: 15px;
     }
.openhours{  object-fit: cover; padding-left: 10px; }
.openhours_billede{width:35%;}
.tider{background-color: rgb(255, 165, 0,.4);flex-basis: 50%; text-align: center;padding-top: 3%; padding-bottom: 3%;}













@media  (max-width:374px){
    .fordele_image{height:170px; width:150px ;object-fit: cover;} 
    .openhours_billede {width:110px;height:90px;margin-left: 15px;}
    
}
@media (max-width:767px){
    .strikning_billede_omos{width:80%; height:auto;}
     .strikning_billede_omos2{display: none;}
     .openhours_billede {width:140px;height:90px;margin-left: 15px;} 

}




@media (min-width:768px) and (max-width:1024px){
    .strikning_billede_omos{width:33vw; height:auto;
    }
    .fordele_image{ width:320px ;} 
    .kasse_beskrivelse_fordele,.text_om_os{flex-basis: 45%;}

     .openhours_billede{width:200px; height:130px;margin-left: 12%;}
     .tider{flex-basis: 42%; margin-left: 10%;}
}

@media (min-width:1025px) and (max-width:1440px){
    .strikning_billede_omos{width:28%; height:10%;}
    .kasse_beskrivelse_fordele,.text_om_os{flex-basis: 45%;}
    .openhours{height:150px;}

  .openhours_billede{width:300px;margin-left: 10%;}
     .tider{flex-basis: 48%; margin-left: 10%;}

}

@media (min-width:1441px) {
    .strikning_billede_omos{width:17%; height:8%;}
     .kasse_beskrivelse_fordele,.text_om_os{flex-basis: 45%;}
     .openhours{height:150px; width:500px;}
     .openhours_billede{width:380px; height:200px;margin-left: 15%; margin-top: 50px;}
     .tider{flex-basis: 47%; margin-left:12% ;}
    
}










