.tittle_sektion{background-color: #A3C29C ; display:flex; align-items: center; 
     height :60px; position: relative;justify-content: center; z-index: -1;}
main{background-color:white; width: 100%;}
.navbar{background-color:white; }

.fa-solid {color: black;}

/*title sektion  _second section "garn &craft + 2 ikons"*/
.magnifying_glass, .kurv2{height: 20px; margin-right:.35vw;}
.ikons_tittle_sektion_kasse{position: absolute;right:10px; top:38%;}

/*validation sektion under title sektion*/
.validation{display: flex; flex-wrap: wrap; justify-content: space-around;align-items: center; flex-grow: 1;}

/*2 billeder om om os */
.to_billeder{display: flex; flex-wrap: wrap;justify-content: space-around; margin-top: 15px; flex-grow: 1;}
.strikning_billede_omos, .beskrivelse_fordele_image{width:260px;height:250px; border-radius: 7px;padding-bottom: 15px;}

/* beskrivelse af fordele */
.beskrivelse_fordele_set_plus_textkasse{display: flex; flex-wrap: wrap;  justify-content:center;}
.kasse_beskrivelse_fordele{flex-basis:35%; margin:10px; flex-grow: 1; }
.text_om_os {flex-basis: 50%; flex-grow: 1;margin:10px 30px 0 30px; padding-top: 7px;}

/* inside each green box with text and a picture */
.fordele_image{height:180px; width:200px ;object-fit: cover;} 
.beskrivelse_fordele{ background-color: #A3C29C; margin-bottom: 15px;
     height: 200px;
      display:flex; justify-content: space-between;align-items: center;}

.text_fordel{flex-grow: 1; display: flex; justify-content: center; padding-left:5px ; padding-right: 5px;}





@media  (max-width:374px){
    .fordele_image{height:170px; width:150px ;object-fit: cover;} 
    
}




@media (min-width:1023px)and (max-width:1440px){
    .strikning_billede_omos{width:30%; height:370px;}
}


@media (min-width:1441px){
    .strikning_billede_omos{width:20%; height:450px;}
}











