.tittle_sektion{background-color: aquamarine;}
main{background-color: rgb(155, 155, 196);}
.navbar{background-color: aliceblue;}
.magnifying_glass, .kurv2{height: 25px;}
.fa-solid {color: black;}
.tittle_sektion{text-align: center;}